<div class="container" style="text-align: center; margin-top: 10px;">
    <span>Empleados</span>
</div>
<div class="container" style="text-align: center;">
    <img src="../../../assets/cidenet.jpg">
</div>