<div class="container">
    <button mat-flat-button color="primary" style="margin: 10px;" routerLink="/add">Nuevo Empleado</button>
  </div>
  <div class="container">
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" #input>
    </mat-form-field>
      <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Primer Nombre </th>
        <td mat-cell *matCellDef="let empleado">{{empleado.firstName}}</td>
      </ng-container>
      <ng-container matColumnDef="secondName">
        <th mat-header-cell *matHeaderCellDef> Segundo Nombre </th>
        <td mat-cell *matCellDef="let empleado">{{empleado.secondName}}</td>
      </ng-container>
      
      
      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let empleado">{{empleado.surname}}</td>
      </ng-container>
    
      
      <ng-container matColumnDef="secondSurname">
        <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
        <td mat-cell *matCellDef="let empleado">{{empleado.secondSurname}}</td>
      </ng-container>
    
      
      <ng-container matColumnDef="identificationType">
        <th mat-header-cell *matHeaderCellDef> Tipo de Identificación </th>
        <td mat-cell *matCellDef="let empleado"> {{empleado.identificationType}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="identificationNumber">
        <th mat-header-cell *matHeaderCellDef># Identificación </th>
        <td mat-cell *matCellDef="let empleado"> {{empleado.identificationNumber}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="countryEmployment">
        <th mat-header-cell *matHeaderCellDef> País de Empleo </th>
        <td mat-cell *matCellDef="let empleado"> {{empleado.countryEmployment}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Correo </th>
        <td mat-cell *matCellDef="let empleado"> {{empleado.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Estado </th>
        <td mat-cell *matCellDef="let empleado"> {{empleado.status}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let empleado ">
          <a  routerLink="edit/{{empleado.id}}" class="pointer"><mat-icon style="color: black;" >edit</mat-icon></a> 
          <a (click)="delete(empleado.id)" class="pointer"><mat-icon style="color: black;" >delete</mat-icon></a> 
        </td>
      </ng-container>
  
    
      <tr mat-header-row *matHeaderRowDef="listColumn"></tr>
      <tr mat-row *matRowDef="let row; columns: listColumn;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
  