<div class="row">
    <div class="col-lg-6" style="margin: 10px;">
        <h2 style="text-align: center;">{{ accion }} Empleado</h2>
    </div>
</div>
<mat-card>
    <mat-card-title style="text-align: center;">Formulario Empleado</mat-card-title>
    <mat-card-content class="padding-top">
        <form [formGroup]="form" style="text-align: center; padding: 20px;">
            <!-- container nombre -->
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
                <div fxFlex="6"></div>
                <mat-form-field fxFlex="40">
                    <mat-label>Primer Nombre</mat-label>
                    <input type="text" #inputfn pattern="[a-zA-Z ]*" maxlength="20" formControlName="firstName" matInput
                        required>
                    <mat-hint align="end">{{inputfn.value?.length || 0}}/20</mat-hint>
                </mat-form-field> &nbsp;
                <mat-form-field fxFlex="40">
                    <mat-label>Segundo Nombre</mat-label>
                    <input type="text" #inputfn pattern="[a-zA-Z ]*" maxlength="20" formControlName="secondName"
                        matInput>
                    <mat-hint align="end">{{inputfn.value?.length || 0}}/20</mat-hint>
                </mat-form-field>

            </div>
            <!-- container apellidos -->
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
                <div fxFlex="6"></div>
                <mat-form-field fxFlex="40">
                    <mat-label>Primer Apellido</mat-label>
                    <input type="text" #inputfn pattern="[a-zA-Z ]*" maxlength="20" formControlName="surname" matInput
                        required>
                    <mat-hint align="end">{{inputfn.value?.length || 0}}/20</mat-hint>
                </mat-form-field> &nbsp;
                <mat-form-field fxFlex="40">
                    <mat-label>Segundo Apellido</mat-label>
                    <input type="text" #inputfn pattern="[a-zA-Z ]*" maxlength="20" formControlName="secondSurname"
                        matInput required>
                    <mat-hint align="end">{{inputfn.value?.length || 0}}/20</mat-hint>
                </mat-form-field>

            </div>
            <!-- container pais, area de la empresa -->
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
                <div fxFlex="6"></div>
                <mat-form-field fxFlex="40">
                    <mat-label>País de Empleo</mat-label>
                    <mat-select formControlName="countryEmployment">
                        <mat-option *ngFor="let pais of countryEmployment" [value]="pais">{{ pais }}</mat-option>
                    </mat-select>
                </mat-form-field> &nbsp;
                <mat-form-field fxFlex="40">
                    <mat-label>Area</mat-label>
                    <mat-select formControlName="area">
                        <mat-option *ngFor="let area of area" [value]="area">{{ area }}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <!-- container documento, identificacion -->
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
                <div fxFlex="6"></div>
                <mat-form-field fxFlex="40">
                    <mat-label>Tipo Identificación</mat-label>
                    <mat-select formControlName="identificationType">
                        <mat-option *ngFor="let tipoDocumento of identificationType" [value]="tipoDocumento">{{
                            tipoDocumento }}</mat-option>
                    </mat-select>
                </mat-form-field>&nbsp;
                <mat-form-field fxFlex="40">
                    <mat-label># Identicación</mat-label>
                    <input type="text" #inputd pattern="[0-9 ]*" maxlength="20" formControlName="identificationNumber"
                        matInput required>
                    <mat-hint align="end">{{inputfn.value?.length || 0}}/20</mat-hint>
                </mat-form-field>

            </div>
            <!-- container Fecha de ingreso a la empresa -->
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
                <div fxFlex="6"></div>
                <mat-form-field fxFlex="40">
                    <mat-label>Fecha Ingreso</mat-label>
                    <input matInput [max]="maxDate" [matDatepicker]="picker" formControlName="addmissionDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field> &nbsp;
                <mat-form-field fxFlex="40">
                    <mat-label>Correo Electronico</mat-label>
                    <input matInput #inputce formControlName="email">
                    <mat-hint align="end">{{inputce.value?.length || 0}}/300</mat-hint>
                </mat-form-field>
            </div>
            <!-- container Fecha de creacion del registro y de ultima actualizacion -->
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
                <div fxFlex="6"></div>
                <mat-form-field fxFlex="40">
                    <mat-label>Fecha Creacion</mat-label>
                    <input matInput formControlName="registrationDate">
                </mat-form-field>&nbsp;
                <mat-form-field fxFlex="40">
                    <mat-label>Estado</mat-label>
                    <input matInput formControlName="state">
                </mat-form-field>

            </div>
        </form>

        <!-- container Botones volver y aceptar -->
        <div fxLayout="row" fxLayoutAlign="space-evenly center" style="text-align: center;">
            <button mat-raised-button (click)="cancelar()" type="button">Regresar al Listado</button>
            <button mat-raised-button (click)="saveEmployee()">Crear</button>
        </div>

    </mat-card-content>
</mat-card>